html, body
  padding 0
  margin 0
  background #ddd
  font-family 'Arial', 'Microsoft JhengHei'

#app
  width 800px
  margin auto

.d-none
  display none

.loading
  color #245174
  text-align center
  font-size 12px
.header
.board
.list
.expand
  padding 0
  margin 0
  width 100%

.header
.expand
  color #eee
  background-color #245174
  width 800px
  height 50px
  line-height 50px
  text-align center
  font-
  weight bold

.header
  margin 12px 0

.expand
  cursor pointer
  &:hover
    background-color lighten(#245174, .1)

.streamer
  background #eee
  color #245174
  list-style-type none
  padding 12px 0
  border 1px solid #ccc
  font-size 14px
  width 100%
  &:not(:first-child)
    border-top 0
  &:first-child
    background #fff
  >div
    display inline-block
    margin 0 .5em
  .num
    width 50px
    font-size 20px
    font-weight bold
    text-align center
  .picture
    width 50px
    height 50px
    border-radius 50%
    background center center no-repeat
    background-size cover
    vertical-align middle
  .name
    width 400px
  .score
    width 200px
    color #e08615
    text-align right
    font-weight bold
