body{
  background: #282c34;
  color: white;
  font-family: 'Arial', 'Microsoft JhengHei';
}

ol{
  width: 480px;
}

li{
  background: #666;
  margin: 1px;
  padding: 4px;
}

.victim{
  width: 120px;
  padding: 10px 20px;
  cursor: pointer;
}
.victim:hover{
  background: #333;
}
